.square {
    width: 200px;
    height: 200px;
    position: fixed;
    top: 200px;
    left: calc(50% - 100px);
    background-color: coral;
    animation: zoom linear;
    animation-timeline: scroll();

}

@keyframes zoom {
    to {scale: 3;}
}