.nav {
    padding: 24px;
    position: fixed;
    z-index: 100;
}

.open {
   background-color: rgb(162, 199, 227);
   width: 100px;
   height: 100%;

   div {
    display: flex;
    flex-direction: column;
    gap: 8px;
   }
}

