.main {
    height: 3000px;
}

.sq1 {
    width: 100px;
    height: 100px;
    background-color: burlywood;
    position: sticky;
    top: 200px;
    left: calc(50% - 50px);
    animation: move linear;
    animation-timeline: scroll();
}

@keyframes move {
    to {
        transform: translate(200px) rotate(360deg);
    }
}