.div1 {
    width: 100px;
    height: 100px;
    border-radius: 50%;

    background-color: chartreuse;
    position: fixed;
    top: 300px;
    left: calc(50% - 50px - 100px);
    animation: up linear;
    animation-timeline: scroll();
}

.div2 {
    width: 100px;
    height: 100px;
    background-color:fuchsia;
    border-radius: 50%;
    position: fixed;
    top: 300px;
    left: calc(50% - 50px);
    animation: roll linear;
    animation-timeline: scroll();
}

.div3 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color :yellow;
    position: fixed;
    top: 300px;
    left: calc(50% + 50px);
    animation: left linear;
    animation-timeline: scroll();
}

@keyframes roll {
    25% {transform: translateY(-300px);}
    50% {transform: translateY(-200px);}
    75% {transform: translateY(-300px);}
    100% {transform: translateY(0px);}
}

@keyframes up {
    20% {transform: translateY(-200px);}
    55% {transform: translateY(-100px);}
    80% {transform: translateY(-175px);}
    100% {transform: translateY(0px);}
}

@keyframes left {
    30% {transform: translateY(-250px);}
    50% {transform: translateY(-150px);}
    85% {transform: translateY(-200px);}
    100% {transform: translateY(0px);}
}